.message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
  text-align: center;
}

.message h2 {
  color: rgb(var(--primary-color));
}

.message > div {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .message > div {
    flex-direction: column;
  }
}
