.reset {
  --input-padding: 0.7rem;
  --input-border-width: 3px;

  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.reset--submit {
  width: 100% !important;
  cursor: pointer;
  margin-top: 1rem;
}

.reset--submit:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}
