.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.app--content {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .app--content {
    margin-top: 4.4rem;
  }
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0;
  font-weight: bold;
  background-color: var(--primary-color);
  cursor: pointer;
}

.topbar > p {
  color: rgb(var(--background-color));
  font-size: 0.9rem;
}

@keyframes textScroll {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  51% {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}
