.account {
  --account-input-padding: 0.3rem;
  --account-input-border-width: 2px;
  --account-padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100%);
  padding: var(--account-padding) 0;
}

.account--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 668px) {
  .account--header {
    flex-direction: column;
    align-items: flex-start;
  }
}

.account--input {
  width: calc(
    100% - var(--account-input-padding) * 1.5 * 2 -
      var(--account-input-border-width) * 2
  );
  padding: var(--account-input-padding) calc(var(--account-input-padding) * 1.5);
  font-size: 0.8rem;
  border: none;
  font-weight: bold;
  background-color: var(--background-color);
  color: var(--input-color);
  transition: all 0.25s;
  border-bottom: var(--account-input-border-width) solid var(--input-color);
}

.account--input:-webkit-autofill,
.account--input:-webkit-autofill:hover,
.account--input:-webkit-autofill:focus,
.account--input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-box-shadow: none !important;
  -webkit-text-fill-color: var(--input-color) !important;
}

.account--input:focus {
  outline: none;
}

.account--input__header {
  font-size: 2.5rem;
  color: var(--text-one-color);
}

.account--input__error {
  border-color: var(--warning-color-delicate);
  color: var(--warning-color-delicate);
}

.account--input:disabled {
  opacity: 1;
  cursor: text;
  border-color: var(--background-color);
}

.account--checkbox {
  background-color: var(--input-color);
  color: var(--background-color);
  cursor: unset;
}

.account--checkbox[disabled],
.account--checkbox[disabled]:hover {
  cursor: default;
}

.account--checkbox {
  appearance: none;
  cursor: pointer;
  min-width: 1.1rem;
  aspect-ratio: 1;
  border-radius: 0.3rem;
  border: 3px solid var(--input-color);
  transition: all 0.25s;
  background-color: var(--background-color);
}

.account--checkbox:checked {
  background-color: var(--input-color);
}

.account--checkbox__error {
  border-color: var(--warning-color-delicate);
}

@media screen and (min-width: 768px) {
  .account--checkbox:hover {
    background-color: var(--input-color);
    border-color: var(--input-color);
  }
  .account--checkbox__error:hover {
    background-color: transparent;
    border-color: var(--input-color);
  }
}

.header--buttons {
  display: flex;
  flex-direction: row;
}

.account--button {
  --account-button-border-radius: 4rem;
  padding: 0.5em 2.4rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s, color 0.25s;
  font-family: "Poppins", sans-serif;
  font-weight: bold;

  border-radius: var(--account-button-border-radius);
}

.account--button__primary {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 3px solid var(--primary-color);
}

.account--button__primary:hover {
  background-color: var(--background-color);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.account--button__secondary {
  background-color: var(--background-color);
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}

.account--button__secondary:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.account--button__halfborder:first-child {
  border-right: none;
  border-radius: var(--account-button-border-radius) 0 0
    var(--account-button-border-radius) !important;
}

.account--button__halfborder:last-child {
  border-left: none;
  border-radius: 0 var(--account-button-border-radius)
    var(--account-button-border-radius) 0 !important;
}

.register--memberbuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.account--select {
  --webkit-appearance: unset;
  appearance: auto !important;
  color: var(--input-color);
}

.account--select:disabled {
  appearance: none !important;
}
