.home h1,
h2 {
  color: rgb(var(--primary-color));
}

#welcome--wrapper {
  background-image: url("../../Assets/hackarena_1_0_yellow_2.jpg");
  background-size: cover;
  background-position: center;
  padding: 7rem 1rem;
  z-index: -2;
}

.home--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.home--welcome {
  /* background-color: rgba(var(--background-color), 0.8); */
  border-radius: 1.5rem;

  padding: 2rem 1rem;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.home--welcome::before {
  content: "";
  display: block;
  width: 150%;
  height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: blur(70px);
  background-color: rgba(var(--primary-color), 0.1);
  border-radius: 50%;
  z-index: -1;
}

.home--welcome > h1 {
  letter-spacing: 0.1rem;
  /* background-color: rgb(var(--primary-color)); */
  background-color: var(--text-one-color);

  padding: 0.5rem 3rem;
  box-sizing: border-box;
  color: rgb(var(--background-color));
  /* color: var(--text-one-color); */
}

.home--welcome > h6 {
  font-weight: bold;
  /* background-color: var(--secondary-color); */
  background-color: rgb(var(--background-color));

  padding: 0.5rem 4rem;
  /* color: rgb(var(--primary-color)); */
  color: var(--text-one-color);
  text-align: center;
}

.welcome--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.home span {
  color: rgb(var(--primary-color));
  font-weight: bold;
}

.welcome--text > p {
  color: var(--secondary-color);
  font-weight: bold;
}

.welcome--buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 500px) {
  .welcome--buttons {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .welcome--buttons > button {
    width: 100%;
  }
}

.home--date {
  padding: 2rem 0;
  background-color: rgb(var(--primary-color));
}

.home--date > h3 {
  font-size: 2rem;
  color: var(--text-two-color);
  text-align: center;
}

.home--date > h2 {
  font-size: 4rem;
  color: var(--secondary-color);
}

.home--about__event {
  background-color: var(--light-background-color);
}

.home--about__event button {
  margin-top: 1.5rem;
}

.home--about__event > div > p {
  /* color: var(--background-color); */
  color: rgb(var(--background-color));
  font-weight: 300;
}

.home--about__event > div b {
  color: rgb(var(--background-color));
}

.home--about > h2 {
  margin-bottom: 1rem;
}

.home--about > p {
  color: var(--text-one-color);
  max-width: 900px;
  text-align: center;
  font-weight: 100;
}

.home--about b {
  /* color: rgb(var(--primary-color)); */
  color: var(--text-one-color);
  font-weight: bold;
}

.home--about span {
  color: var(--text-one-color);
}

.home--dwait {
  text-align: center;
}

.home--dwait > h4 {
  color: var(--accent-color);
  font-weight: 400;
}

.home--dwait > button {
  margin-top: 1rem;
}

.agenda--schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 900px;
  width: 100%;
  margin-top: 2rem;
}

.agenda--component {
  --agenda-background-color: rgb(var(--primary-color));
  --agenda-text-color: var(--text-two-color);

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.agenda--component > p {
  background-color: var(--agenda-background-color);
  text-align: center;
  color: var(--agenda-text-color);
  font-size: 1.2rem;
  padding: 0.5rem 0;
  font-weight: 600;
}

.agenda--component > p:first-child {
  min-width: 120px;
}

.agenda--component > p:last-child {
  width: 100%;
}

.agenda--component:nth-child(odd) {
  --agenda-background-color: var(--accent-color);
  --agenda-text-color: var(--text-one-color);
}
